.appointmentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 4.5vw;
  margin: 4px;
}

.appointmentBox>img {
  width: 4vw;
}

.appointmentBox>p {
  margin: 0px;
}