.calendarBox {
    display: flex;
    color: white;
    background-color: #1F2326;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    width: 2.7vw;
    margin: 4px;
}

.calendarBox:focus {
    background-color: #026DFA;
    border: 0px solid;
}

.calendarDay, .calendarDate {
    height: 1vh;
}