.card {
    background-color: #20272B;
    color: #fff;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2vw 0 2vw;
}

.card:active {
    background-color: #026DFA;
    border-radius: 8px;
}

.card>p {
    font-size: 1.1rem;
}

.card>span {
    margin-right: 1vw;
}