header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.firstHeader, .secondHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 14vw;
    margin-left: 2vw;
    font-size: 28px;
}

.searchBar {
    background-color: #1F2326;
    color: white;
    font-size: 1rem;
    padding: 0.8vw 8vw 0.8vw 2vw;
    margin-left: 0vw;
    margin-right: 2vw;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 8px;
}

.searchBar:hover {
    background-color: #3f3f3f3f;
}

#bellIcon, #settingIcon {
    margin-right: 2vw;
}