.patientHeadline {
    font-size: 1.2rem;
    margin: 1vh 0px 0px 1vw
}

.patientImgCont {
    display: flex;
    justify-content: center;
}

.patientAvatar {
    padding: 12px;
    margin: 0vh 0px 2vh 0px;
    width: 8vw;
}

.buttonDetailsCont {
    display: flex;
    justify-content: center;
}

.fullDetailsButton {
    margin-top: 2vh;
    background-color: #026DFA;
    color: white;
    width: 90%;
    height: 5vh;
    border-radius: 8px;
    border: 0px;
    font-size: 1rem;
}